/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Typography */
body {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-weight: 300;
}

h4 {
    font-weight: 700;
}

/* HEADER */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;
    background-color: #FF6900;
    box-shadow: 10px 0 10px grey;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

 a{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
 }

header ul{
    list-style-type: none;
    display: flex;
}

/* MAIN */
/* row */
.row {
    display: flex;
    margin: 7rem auto;
    flex-wrap: wrap;
    width: 80%;
}


.col {
    width: calc(100% / 3);
    padding: 1rem;
    position: relative;
}

.card {
    position: relative;
}

.second-img {
    position: absolute;
    left: 0;
    z-index: -1;
}

.col:hover .second-img{
    z-index: 1;
} 

.price {
    color: red;
    font-weight: 500;
}

.line {
    text-decoration: line-through;
}

.more {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    bottom: 7rem;
    z-index: 2;
}

.discount {
    background-color: red;
    margin-right: 3px;
    padding: 3px;
}

.esg {
    background-color: green;
    padding: 3px;
}

/* FOOTER */
footer {
    background-color: black;
    height: 100px;
    color: white;
    padding: 1rem 2rem;
}

footer ul{
    display: flex;
    list-style-type: none;
}

footer a{
    color: inherit;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.logo {
    font-size: 1.5rem;
}

.footer-bottom {
    display: flex;
    font-weight: 200;
    justify-content: space-between;
}

.footer-bottom span{
    font-size: 0.9rem;
    margin-right: 1rem;
}