/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Typography */
body {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-weight: 300;
}

h4 {
    font-weight: 700;
}

/* row */
.row {
    display: flex;
    margin: 3rem auto;
    flex-wrap: wrap;
    width: 80%;
}


.col {
    width: calc(100% / 3);
    padding: 1rem;
    position: relative;
}

.card {
    position: relative;
}

.second-img {
    position: absolute;
    left: 0;
    z-index: -1;
}

.col:hover .second-img{
    z-index: 1;
} 

.price {
    color: red;
    font-weight: 500;
}

.line {
    text-decoration: line-through;
}

.more {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    bottom: 7rem;
    z-index: 2;
}

.discount {
    background-color: red;
    margin-right: 3px;
    padding: 3px;
}

.esg {
    background-color: green;
    padding: 3px;
}